# »гнорировать системные файлы
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# »гнорировать логи и данные (если не хочешь их в GitHub)
data/*.json
data/*.txt

# »гнорировать настройки редактора
.vscode/
.idea/

# »гнорировать звуки и картинки (если они большие Ч можно не грузить)
# sounds/
# images/